.hospitalPiece-container{
    display:flex;
    align-items: center;
    border-bottom:1px solid rgba(128, 128, 128, 0.453);
    
    /* border:1px solid red; */
    padding:28px 10px;
    cursor: pointer;
    transition:all 0.3s ease;

    height: 20px;
    max-height:300px;
    overflow: hidden;
}

.expanded{
    height:250px ; 
    overflow: hidden;
}

.hospitalPiece-container:hover{
    transform: translate3d(0,-5px,0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.2);
}

.hospitalPiece-container img{
    object-fit: cover;
    height: 26px;
    margin-right: 16px;
}

.hospitalPiece-container p{
    font-size: 0.9rem;
    color:rgba(0, 0, 0, 0.903);
}

.hospital-card-container{
    /* border:1px solid red; */
    width:100%;
}

.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:8px;
}

.flex-center p{
    color:gray;
}


@media screen and (max-width:768px) {
    .hospitalPiece-container{
        /* padding:26px; */
    }
}