.home-container{
    display: flex;
    /* flex-direction: column; */
}

@media screen and (max-width:768px) {
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        width:75%;
        height: 176vh;
        margin:0 auto;
    }
}